.starting{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('../img/startingBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 54px 145px 54px 54px;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff4d2;
        opacity: 0.91;
        z-index: -1;
    }

    &__title-text{
        margin-top: 5px;
        margin-bottom: 23px;
    }

    &__subtitle-text{
        margin-bottom: 50px;
    }

    &__btn-wrap{
        margin-bottom: 16px;
    }

    &__btn{
        position: relative;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15.5px 39px;
        letter-spacing: 0.7px;
        font-size: 16px;
    }
}

@import './adaptStarting.scss';