form.form(action="")
    p.form__title-text.title-text.white-text|Say 
        span.bold-span|‘Hello’
    .form__wrap
        input.form__input-text(type="text", name="user-name", placeholder="Your Name")
        input.form__input-email(type="email", name="user-email", placeholder="Your Email")
        textarea.form__textarea(name="user-message", cols="40", rows="8", placeholder="Your Message Here ...")