.services

    p.services__title-text.title-text.white-text|Drawing 
        span.bold-span|Scketch
    p.services__subtitle-text.subtitle-text.white-text|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
        |sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
        |aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.

    p.services__title-text.title-text.white-text|Making  
        span.bold-span|Design
    p.services__subtitle-text.subtitle-text.white-text|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
        |sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
        |aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.

    p.services__title-text.title-text.white-text|Developing  
        span.bold-span|Product
    p.services__subtitle-text.subtitle-text.white-text|Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
        |sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
        |aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.