.main{
    display: flex;
    flex-direction: row;
    width: 100%;

    &__left{
        display: flex;
        flex-direction: column;
        width: 44.8%;

    }

    &__right{

        display: flex;
        flex-direction: column;
        width: 55.2%;

    }
}

@import './services/services.scss';
@import './starting/starting.scss';
@import './dummy/dummy.scss';
@import './adaptMain.scss';