.contact
    p.contact__top-text.white-text|Stay Connnected With Us...
    ul
        li
            a.contact__social.contact__fb(href="#")
        li
            a.contact__social.contact__dr(href="#")
        li
            a.contact__social.contact__tw(href="#")
    p.contact__bottom-text.white-text|Please Feel Free To Contat With me For Any Kind of Prject.