.designer
    p.designer__title-text.title-text.white-text|This Webpage Is 
        span.bold-span|Designed By
    a.designer__logo(href="index.html")
    p.designer__bottom-title.title-text.white-text|Ali Sayed
    p.designer__bottom-subtitle.subtitle-text.white-text|Graphic Designer